[submodule "external/paho.mqtt.c"]
	path = external/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c.git
[submodule "external/paho.mqtt.cpp"]
	path = external/paho.mqtt.cpp
	url = https://github.com/eclipse/paho.mqtt.cpp.git
